:root {
  --bs-font-sans-serif: 'Rubik', sans-serif;
}

.container-xxl {
  max-width: 1530px;
  background: mintcream;
}

body {
  background-image: url("/img/i-like-food.svg");
  background-color: rgb(243, 243, 243);
}

/* makes links black  in bootstrap */
a {
  color: var(--bs-dark);
}


/* Category Card */
.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1);
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 170px;
}

.category__img img {
  width: 100%;
  object-fit: cover;
}


.hero-img {
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  /* transform:rotate(-11deg) */
}

.btn-dark { 
  background:#075F63 ;
  border:1px solid #075F63 
}
.btn-outline-dark{
  border:1px solid #075F63 
}

#description{
  white-space: normal
}

textarea{
border:none;
}

#fileUpload::before{
  background:#075F63 ;
  border:1px solid #075F63 
}

